@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.84);
}

.container {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 48px;
    padding-right: 48px;
}

.nav {
    padding-top: 48px;
}
